{% extends 'resume/base.html' %}

{% block content %}
{% for resume in resumes %}
    <div class="block">
        {% if resume.image %}
            <img src="{{ resume.image.url }}" alt="{{ resume.name }}">
        {% endif %}
        <a href="{% url 'resume_detail' resume.pk %}">
            <div class="name">
                <strong>{{ resume.name }}</strong>
                <strong>{{ resume.surname }}</strong>
                <strong>{{ resume.father_name }}</strong>
            </div>
        </a>
        <div class="links-resume">
            <a href="{% url 'cart_add' resume.id %}">Add for consideration</a>
            {% if request.user.is_staff %}
                <a href="{% url 'edit_resume' resume.id %}">Change resume</a>
                <a href="{% url 'delete_resume' resume.id %}">Remove resume</a>
            {% endif %}
        </div>
    </div>
{% empty %}
    <p>There are no any Searchers.</p>
{% endfor %}
{% endblock content %}