{% extends 'resume/base.html' %}

{% block content %}
<h2>Main Page</h2>

<div class="category">
    <strong>Specialities:</strong>
    {% for c in categories %}
        <a href="?category={{ c.id }}">{{ c.name }}</a>
    {% endfor %}
</div>
<p><a href="{% url 'create_resume' %}">Add own resume</a></p>
<p><a href="{% url 'create_resume_category' %}">Add speciality</a></p>
{% for resume in resumes %}
    <div>
        <a href="{% url 'resume_detail' resume.pk %}">
            <div class="name">
                <strong>{{ resume.name }}</strong>
                <strong>{{ resume.surname }}</strong>
                <strong>{{ resume.father_name }}</strong>
        </a>
        {% if resume.image %}
            <img src="{{ resume.image.url }}" alt="{{ resume.name }}">
        {% endif %}
        <a href="{% url 'cart_add' resume.id %}">Add for consideration</a>
        <a href="{% url 'edit_resume' resume.id %}">Change resume</a>
        <a href="{% url 'delete_resume' resume.id %}">Remove resume</a>

    </div>
{% empty %}
    <p>There are no any Searchers.</p>
{% endfor %}
{% endblock content %}