{% extends 'resume/base.html' %}
{% block content %}
<h1>Resume added for consideration</h1>

{% if items %}
    {% for item in items %}
        <h3>{{ item.resume.name }}</h3>

        {% if item.resume.image %}
            <img src="{{ item.resume.image.url }}" alt="{{ item.resume.name }}" width="400">
        {% endif %}
        <a href="{% url 'message' %}">Write an email</a>
        <form method="post" action="{% url 'cart_remove' item.id %}">
            {% csrf_token %}
            <button type="submit">Remove from list</button>
        </form>
    {% endfor %}
{% else %}
    <p>You didn't add anything for consideration</p>
{% endif %}

{% endblock content %}